<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css')}}">
</head>
<body>
    {% for row in range(rows) %}
        <div class="row">
        {% for col in range(cols) %}
            {% if (row +col) % 2 == 0 %}
                <div class="square black"></div>
            {% else %}
                <div class="square red"></div>
            {% endif%}
        {% endfor %}
        </div>
    {% endfor %}
</body>
</html>