<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/style.css') }}">
    <title>Author Favorites</title>
</head>
<body>
    <div class="container-fluid d-flex flex-row align-items-start justify-content-center">
        <div class="flex-grow-1">
            <h2 class="text-center text-primary">{{auth.name}}'s Favorites:</h2>
            <div class="form-group">
                <table class="table">
                    <tr>
                        <th>Title</th>
                        <th># of pages</th>
                    </tr>
                    
                    {% for book in faves %}
                        <tr>
                                <td>{{book.title}}</td>
                                <td>{{book.num_of_pages}}</td>
                        </tr>
                    {% endfor %}
                </table>
                
            </div>
            <div class="d-flex justify-content-between">
                <a href="/" class="btn btn-primary btn-outline-dark mt-2">Return Home</a>
                <form action="/delete/author/{{auth.id}}" method="post">
                    <button type="submit" class="btn btn-danger btn-outline-dark mt-2 float-right">
                        Delete Author
                    </button>
                </form>
            </div>
        </div>
        <div class="flex-grow-1">
            <div class="form-group">
                <form action="/add/author/favorite/{{auth.id}}" method="post" class="p-3 col-6 mx-auto my-5 bg-dark text-light">
                    <h2 class="text-center text-primary">Add to {{auth.name}}'s Favorites:</h2>
                    <div class="form-group">
                        <label for="">Book Title:</label>
                        <select type="text" name="book_id" class="form-control" required>
                            {% for book in all_books %}
                                {% if book.id not in fave_ids %}
                                    <option value="{{book.id}}">{{book.title}}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                    <input type="hidden" name="author_id" value="{{auth.id}}">
                    
                    <input type="submit" value="Add Favorite Book" class="btn btn-primary btn-outline-dark">
                </form>
            </div>
        </div>
    </div>
    
</body>
</html>

 