<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/style.css') }}">
    <title>Book Favorites</title>
</head>
<body>
    <div class="container-fluid d-flex flex-row align-items-start justify-content-center">
        <div class="flex-grow-1">
            <h2 class="text-center text-primary">Title: Title_var:</h2>
            <div class="form-group">
                <table class="table">
                    <tr>
                        <th>Favorited by:</th>
                    </tr>
                    
                    {% for auth in auths_who_favorited %}
                        <tr>
                            <td>auth</td>
                        </tr>
                    {% endfor %}
                </table>
                
            </div>
            <a href="/" class="btn btn-primary btn-outline-dark mt-2">Return Home</a>
        </div>
        <div class="flex-grow-1">
            <h2 class="text-center text-primary">Add Auth_var Favorite:</h2>
            <div class="form-group">
                <form action="#" method="post" class="p-3 col-6 mx-auto my-5 bg-dark text-light">
                    <h2 class="text-center text-primary">Add Book's Favorite:</h2>
                    <div class="form-group">
                        <label for="">Author:</label>
                        <select type="text" name="" id="" class="form-control" required>
                            {% for auth in auths %}
                                <option value="auth_var">Auth_var</option>
                            {% endfor %}
                        </select>
                    </div>
                    <input type="submit" value="Add Favorite Author" class="btn btn-primary btn-outline-dark">
                </form>
            </div>
        </div>
    </div>
    
</body>
</html>

 