<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/style.css') }}">
    <title>New Author</title>
</head>
<body>
    <div class="container-fluid d-flex flex-row align-items-start justify-content-center">
        <div class="flex-grow-1">
            <form action="/add/author" method="post" class="p-3 col-6 mx-auto my-5 bg-dark text-light">
                <h2 class="text-center text-primary">New Author</h2>
                <div class="form-group">
                    <label for="auth_name">Author Name:</label>
                    <input type="text" name="auth_name" id="auth_name" class="form-control" required>
                </div>
                <input type="submit" class="btn btn-primary btn-outline-dark">
            </form>
        </div>
        <div class="list-group flex-grow-1 my-5">
            <button type="button" class="list-group-item list-group-item-action active w-50 bg-dark text-light">
                All Authors
            </button>
            
            {% for auth in auths %}
                <form action="/author/favorites/{{auth.id}}" method="get">
                    <button type="submit" name="{{auth.name}}" class="list-group-item list-group-item-action w-50 bg-dark text-light">
                        {{auth.name}}
                    </button>
                </form>
            {% endfor %}
            
            <a href="/new/book" class="btn btn-primary btn-outline-darks">Add Book</a>
        </div>
    </div>
    
</body>
</html>

 