<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/style.css') }}">
    <title>New Book</title>
</head>
<body>
    <div class="container-fluid d-flex flex-row align-items-start justify-content-center">
        <div class="flex-grow-1">
            <form action="/add/book" method="post" class="p-3 col-6 mx-auto my-5 bg-dark text-light">
                <h2 class="text-center text-primary">New Book</h2>
                <div class="form-group">
                    <label for="title">Title:</label>
                    <input type="text" name="title" id="title" class="form-control" required>
                </div>
                <div class="form-group">
                    <label for="num_of_pages">Number of pages:</label>
                    <input type="text" name="num_of_pages" id="num_of_pages" class="form-control" required>
                </div>
                
                <inputbutton type="submit" class="btn btn-primary btn-outline-dark">
            </form>
        </div>
        <div class="list-group flex-grow-1 my-5">
            <button type="button" class="list-group-item list-group-item-action active w-50 bg-dark text-light">
                All Books
            </button>
            {% for book in books %}    
                <form action="/book/favorites/{{book.id}}" method="get">
                    <button type="submit" name="{{book.id}}" class="list-group-item list-group-item-action w-50 bg-dark text-light">
                        {{book.title}}
                    </button>
                </form>
            {% endfor %}    
            <a href="/" class="btn btn-primary btn-outline-dark w-50 mt-2">Return Home</a>
        </div>
    </div>
    
</body>
</html>

 