
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hello Flask</title>
</head>
<body>
    <div class="page" style="display: flex; flex-direction: row; flex-wrap: wrap; width: 100%">
    {% for i in range(num_times) %}
        <div class="box" style="width: 100px; height: 100px; background-color: purple; border: 2px solid black; margin: 10px;"></div>
    {% endfor %}
    </div>  
</body>
</html>